* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-areas:
    "headNav headNav headNav"
    "nav body body"
    "... body body";
  position: relative;
}
